@import "../theme.scss";

.main-grid {
    background-color: $orange;
    @include Font;
    text-align: center;
    font-size: 3rem;
}

$row-gap: 20px;

.character-row {
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.character-row-1 {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    gap: $row-gap;
}

.character-row-2 {
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    gap: $row-gap;
}

.character-row-3 {
    grid-area: 3 / 1 / 4 / 5;
    display: flex;
    gap: $row-gap;
}

.character-row-4 {
    grid-area: 4 / 1 / 5 / 5;
    display: flex;
    gap: $row-gap;
}

.character-row-5 {
    grid-area: 5 / 1 / 6 / 5;
    display: flex;
    gap: $row-gap;
}

.character-portrait {
    grid-area: 1 / 1 / 3 / 2;
    background-color: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.character-select {
    grid-area: 1 / 2 / 3 / 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    padding: 8px;
    background-color: $orange;
}
